footer {
  background: #1f1f1f;
  border-radius: 24px 24px 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer p,
footer a {
  font-size: 13px;
  color: #606060;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
}

/* Responsive */
@media screen and (max-width: 768px) {
  footer a,
  footer p {
    font-size: 11px;
  }
}