footer {
  background: #212529;
  color: #adb5bd;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dark-mode footer {
  background: #343a40;
}

footer a, footer p {
  font-size: 14px;
}

footer a:hover {
  color: #e9ecef;
}